/* Empty. Add your own CSS if you like */

/* ===========================
   Lists
   =========================*/
.item.center {
  text-align:  center;
}

.item.huge {
  font-size: 200%;
}

/* ===========================
   Popovers
   =========================*/

/* A popover that adjusts its height to the content
   http://forum.ionicframework.com/t/popover-sizing/8251/16
   Need to use scroll="false" in the popup's content element
*/
.popover-auto-height {
  height: auto !important;
}
.platform-android .popover-auto-height {
  margin-top: 10px;
}
.platform-ios .popover-auto-height {
  padding-top: 10px;
  padding-bottom: 10px;
}
.popover-auto-height ion-content {
  position: relative;
}
