<ion-view>
  <ion-nav-title>
    <span ng-show="!IsNew">Edit Chaser</span>
    <span ng-show="IsNew">Add new Chaser</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content has-header="true">
    <div class="card list">
      <ion-item class="item-divider">Options</ion-item>

      <ion-item class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="Chaser.Name" ng-readonly="IsController">
      </ion-item>
      <ion-item class="item item-input">
        <span class="input-label">Interval (ms)</span>
        <input type="number" min="250" "10000" step="50" ng-model="Chaser.Interval">
      </ion-item>
      <ion-item class="item item-input item-select item-select-left">
        <span class="input-label"># Scenes</span>
        <select ng-model="Chaser.Count">
          <option ng-repeat="n in [].constructor(Chaser.Scenes.length) track by $index">{{$index + 1}}</option>
        </select>
      </ion-item>

      <ion-item class="item-divider">Scenes</ion-item>
      <ion-item class="item-button-right" ng-repeat="scene in getScenes() track by $index">
        <div class="item-content">
          <lights value="scene.Channels"></lights>
          {{scene.Name}}
          <div class="buttons">
            <a class="button button-positive icon ion-edit" ng-click="showEditScene(scene)"></a>
            <a class="button button-positive icon ion-bookmark" ng-click="showSelectScene(scene)" ng-show="Scenes && Scenes.length"></a>
          </div>
        </div>
      </ion-item>

    </div>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-weight-2 icon ion-close-round" ng-click="doBack()">Cancel</button>
      <button class="button button-weight-3 button-positive icon ion-checkmark-round" ng-click="doSave()" ng-disabled="!(Chaser.Interval && Chaser.Name)">Save</button>
    </div>
  </ion-footer-bar>

  <script id="scene-popup.html" type="text/ng-template">
    <scene-editor scene="scene" show-name="false" on-channel-change="onChannelChange()"></scene-editor>
  </script>

  <script id="select-scene-popup.html" type="text/ng-template">
    <ion-list>
      <ion-radio class="" ng-repeat="scene in scenes | orderBy:'Name' track by $index" ng-model="selected.value" ng-value="scene">
        {{scene.Name}}
      </ion-radio>
    </ion-list>
  </script>
</ion-view>
