<ion-view>
  <ion-nav-title>
    <span ng-show="!IsNew">Edit Scheme</span>
    <span ng-show="IsNew">Add new Scheme</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content has-header="true">
    <div class="card">
      <ion-list>
        <ion-item class="item-divider">Master Brightness</ion-item>
        <light-slider value="Intensity.Value" on-change="onIntensityChange(value)"></light-slider>
      </ion-list>

      <scene-editor scene="Scene" show-name="true" on-channel-change="onChannelChange()"></scene-editor>
    </div>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-weight-2 icon ion-close-round" ng-click="doBack()">Cancel</button>
      <button class="button button-weight-3 button-positive icon ion-checkmark-round" ng-click="doSave()" ng-disabled="!(Scene.Name)">Save</button>
    </div>
  </ion-footer-bar>
</ion-view>
