<ion-view title="Leo's Mooring Lights">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-plus-round" href="#/add/"></a>
    <a class="button button-clear icon ion-navicon-round" ng-click="menuPopover.show($event)"></a>
  </ion-nav-buttons>

  <ion-content has-header="true">

    <ion-item class="item-divider">Master Brightness</ion-item>

    <ion-list class="fade-in-not-out">
      <ion-item class="range range-positive">
        <i class="icon ion-ios-sunny-outline" ng-click="onDownClicked(Intensity)"></i>
        <input type="range" min="0" max="255"
               ng-model="Intensity.Value"
               ng-value="Intensity.Value"
               ng-change="onIntensityChanged(Intensity)">
        <i class="icon ion-ios-sunny" ng-click="onUpClicked(Intensity)"></i>
      </ion-item>

      <ion-item class="item-divider">Lighting Schemes</ion-item>

      <ion-item class="item-button-right" ng-repeat="scene in Scenes | orderBy:'Name' track by scene.ID" ng-click="onSceneClick(scene)">
        <div class="item-content">
          <i class="icon ion-ios-sunny" style="opacity: {{channel.Value / 255}}" ng-repeat="channel in scene.Channels"></i>
          {{scene.Name}}
          <div class="buttons">
            <a class="button button-positive icon ion-edit" href="#/edit/{{scene.ID}}" ng-click="$event.stopPropagation();"></a>
            <a class="button button-positive icon ion-trash-a" ng-click="doDelete(scene);$event.stopPropagation();"></a>
          </div>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>

  <script id="menu-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-header-bar>
        <h1 class="title">Options</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item class="item-icon-left" ng-click="showSettings()">
            <i class="icon ion-gear-a"></i>
            Network Settings
          </ion-item>
          <ion-item class="item-icon-left" ng-click="showFadeInterval()">
            <i class="icon ion-ios-timer-outline"></i>
            Fade Interval
          </ion-item>
          <ion-item class="item-icon-left" ng-click="showSleepTimeout()">
            <i class="icon ion-android-alarm-clock"></i>
            Sleep Timeout
          </ion-item>
          <ion-item class="item-icon-left" ng-click="showTemperature()">
            <i class="icon ion-thermometer"></i>
            Temperature
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
